body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333
  }
  
  header {
    background-color: #7d807d; 
    color: white; 
    padding: 20px;
    text-align: center;
  }
  
  .logo img {
    max-width: 150px; 
  }
  
  .social-media a {
    color: white; 
    margin: 0 10px;
  }
  
  .social-media a:hover {
    color: #ffdd57; 
  }
  
  main {
    padding: 20px;
  }
  
  .about {
    background-color: white; 
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
  }
  
  .about h2 {
    color: #000000;
  }
  
  .about p {
    line-height: 1.6; 
  }
  
  button {
    background-color: #28a745; 
    color: white;
    border: none; 
    padding: 15px 25px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
  }
  
  button:hover {
     background-color: #218838;
     box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  }
.about {
    background-color: white;
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: relative; 
    z-index: 1; 
  }
  
  .about::before {
    content: '';
    position: absolute;
    top: -5px; 
    left: -5px; 
    right: -5px; 
    bottom: -5px; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); 
    box-shadow: 0 0 15px rgba(69, 70, 71, 0.7);
    z-index: -1; 
  }
  
  .about h2 {
    color: #055e8e;
  }